<div class = "main">
  <div class = "Header">
  <app-search></app-search>
  </div>
  <div class = "gifyList">
  <app-gifylist></app-gifylist>
  </div>
  <div class = "container-fluid" style="background-color:#363b3e">
    <div class = "row">
      <div class="col-lg-4 col-md-4 col-sm-12 footer">
        <p>Sign up and <br> get free content every week </p>
        <input type= "text" placeholder="Enter your email">
        <br>
        <button class = "btn btn-primary btn-lg">Sign Up</button>
      </div>

      <div class="col-lg-8 col-md-8 col-sm-12 footer-right ">
        <p>Browse by Categories</p>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
              <div class="col-lg-6"><a>Graphics</a></div>
              <div class="col-lg-6"><a>Addons</a></div>
              <div class="col-lg-6"><a>PSDs</a></div>
              <div class="col-lg-6"><a>Fonts</a></div>
              <div class="col-lg-6"><a>Icons</a></div>
              <div class="col-lg-6"><a>Texture</a></div>
              <div class="col-lg-6"><a>Templates</a></div>
              <div class="col-lg-6"><a>Patterns</a></div>
              <div class="col-lg-6"><a>Themes</a></div>
              <div class="col-lg-6"><a>Backgrounds</a></div>
            </div>
           
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
              <div class="col-lg-6"><a>Buttons</a></div>
              <div class="col-lg-6"><a>Addons</a></div>
              <div class="col-lg-6"><a>PSDs</a></div>
              <div class="col-lg-6"><a>Fonts</a></div>
              <div class="col-lg-6"><a>Icons</a></div>
              <div class="col-lg-6"><a>Texture</a></div>
              <div class="col-lg-6"><a>Templates</a></div>
              <div class="col-lg-6"><a>Patterns</a></div>
              <div class="col-lg-6"><a>Themes</a></div>
              <div class="col-lg-6"><a>Backgrounds</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-6 col-sm-6 footer-bottom">
        <p>Affiliates / Contributors / Press/Media  Careers / About / Contact</p>
        <p class = "small-note">Copyright . 2018myCompany All rights reserved</p>
       
      </div>
      <div class="col-6 col-md-6 col-sm-6 footer-bottom Icons">
        <span><i class="fas fa-band-aid"></i></span>
      </div>
    </div>
  </div>

</div>